{% extends 'home/base.html' %}

{% block title %}
  Jesus's Witness Blog
{% endblock %}

{% block content %}

  <div class="row mt-5">

    <div class="col container">
      <div class="row mb-2">
        <div class="col justify-content-center px-5">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="{% url 'blog:post' %}" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit hic voluptate voluptatum magni consequatur recusandae, odio explicabo temporibus culpa. Nostrum et error deserunt voluptatibus exercitationem. Culpa nam cupiditate hic blanditiis reprehenderit dicta molestias! Maxime nesciunt sapiente sit accusamus optio porro eligendi, quod suscipit dolor assumenda perferendis cum autem reiciendis dignissimos.</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
          </div>
        </div>
      </div>

      <div class="row g-5">
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
          <a class="btn btn-outline-primary" href="#">Older</a>
        </nav>
    </div>
    </div>
  </div>

{% endblock %}